.search {
	margin-top: 10px;
	margin-bottom: 10px;
	&__label{
		color:white;
		//position: absolute;
		//float:left;
		//width:130px;
		//text-align: right;
	}
	&__input{
		//overflow: auto;
		//margin-left:140px;
		//padding-left:140px;
		//float:left
		//width:auto;
		display: inline-block;
		background: white !important;
		border:none;
		padding:10px !important;
		border-radius: 3px;
	}
	&__cloud{
		position: relative;
		&::before{
			//line-height:
			//vertical-align: middle;
			position: absolute;
			//display: inline-block;
			content: "";
			background-color: white;
			transform:  translate(0, -50%) rotate(45deg);
			margin-left: -3px;
			top:50%;
			width: 5px;
			height: 5px;
			//border:1px solid black;
		}
		&::after{
			$xwh:24px;
			//line-height:
			//vertical-align: middle;
			position: absolute;
			//display: inline-block;
			content: "";
			//background-color: black;
			background-image: url('ICN@1X.png');
			transform:  translateY(-50%);// rotate(45deg);
			//margin-left: -3px;
			top:50%;
			right: $xwh;
			//margin-right: 6px;
			//right: 2*$xwh;
			//left:100%;
			width: $xwh;
			height: $xwh;
			//border:1px solid black;
		}
	}

}
