mixin search
	div.search&attributes(attributes)
		+form(search).search__form
			label
				| Поиск
				+form__input()(type="text" name="q" placeholder="Например, ЭЦП для Росреестра, подпись для торгов, ЕГАИС алкоголь")
			div.search__btn
