include ../components/form/form.pug

include ../components/form/form__input.pug

include ../components/form/form__btn.pug

include ../components/form/form__select.pug

include ../components/form/form__checkbox.pug

include ../components/menu/menu.pug

include ../components/header/header.pug

include ../components/search/search.pug

include ../components/footer/footer.pug

include ../components/btn/btn.pug

include ../components/content/content.pug

include ../components/bread-crumbs/bread-crumbs.pug

include ../components/logo/logo.pug

include ../components/certificates/certificates.pug

include ../components/phone/phone.pug

include ../components/parking/parking.pug

include ../components/info/info.pug

include ../components/info_link/info_link.pug

include ../components/link-info/link-info.pug

include ../components/right-bar/right-bar.pug

include ../components/price/price.pug
