@font-face {
	font-family: 'Conv_ADOIF__.PFB';
	src: url('./fonts/ADOIF__.PFB.eot');
	src: local('☺'), url('./fonts/ADOIF__.PFB.woff') format('woff'), url('./fonts/ADOIF__.PFB.ttf') format('truetype'), url('./fonts/ADOIF__.PFB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SFUIText-Bold';
	src: url('./fonts/SFUIText-Bold.eot');
	src: local('☺'), url('./fonts/SFUIText-Bold.woff') format('woff'), url('./fonts/SFUIText-Bold.ttf') format('truetype'), url('./fonts/SFUIText-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SFUIText-Italic';
	src: url('./fonts/SFUIText-Italic.eot');
	src: local('☺'), url('./fonts/SFUIText-Italic.woff') format('woff'), url('./fonts/SFUIText-Italic.ttf') format('truetype'), url('./fonts/SFUIText-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SFUIText-Medium';
	src: url('./fonts/SFUIText-Medium.eot');
	src: local('☺'), url('./fonts/SFUIText-Medium.woff') format('woff'), url('./fonts/SFUIText-Medium.ttf') format('truetype'), url('./fonts/SFUIText-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SFUIText-Light';
	src: url('fonts/SFUIText-Light.eot');
	src: local('☺'), url('fonts/SFUIText-Light.woff') format('woff'), url('fonts/SFUIText-Light.ttf') format('truetype'), url('fonts/SFUIText-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SFUIText-Regular';
	src: url('fonts/SFUIText-Regular.eot');
	src: local('☺'), url('fonts/SFUIText-Regular.woff') format('woff'), url('fonts/SFUIText-Regular.ttf') format('truetype'), url('fonts/SFUIText-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_SFUIText-Semibold';
	src: url('fonts/SFUIText-Semibold.eot');
	src: local('☺'), url('fonts/SFUIText-Semibold.woff') format('woff'), url('fonts/SFUIText-Semibold.ttf') format('truetype'), url('fonts/SFUIText-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
