include ./compoIn.pug

doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="initial-scale=1.0, width=device-width")
	link(rel="stylesheet" type="text/css" href="bundle.css")
	title Webpack app
	body
		h1 test pug 5
		+header
			+logo
			+phone('+7(3822)90-45-96')
			+menu
			+btn('Заказать сертификат')
			+search
		+content('Цены на сертификаты электронной подписи')
			+bread-crumbs
			+form('order')(method="post" action="input1.php")
				label.form__label Имя
					+form__input()(type="text" name="name" placeholder="Пантолемей Христорождественский")
				label.form__label Телефон
					+form__input()(type="text" name="name" placeholder="+7-923-567-8897")
				label.form__label Электронная почта
					+form__input()(type="text" name="name" placeholder="example@mail.com")
				label.form__label Наименование организации
					+form__input()(type="text" name="name" placeholder="УЦ «Автограф»")
				label.form__label Комментарии к заявке
					+form__input()(type="text" name="name" placeholder="Если есть что-то, что вы хотите дополнить или узнать, смело пишите")

		+footer
			div
				+logo
				+info
				+btn('Обратная связь')
			div
				+menu
				+certificates('Наши сертификаты')
			div
				+phone ('+7(3822)90-45-96')
				+parking('3','5')
