
*{
	//box-shadow:inset 0 0 1px  blue;
}

$basecolor:#2f5fbf;
$wrongcolor:#b61111;
$neutral:#cfcfd1;

$breakpoints: (
	xs: 480,
	sm: 768,
	ms: 1024,
	md: 1280//,
	//lg: 1440,
	//mg: 1680
);

$columns: (12);

$indents: (1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 40, 50);

$htmlFontSize: 18;

body {
    background-color: lightgray;
	a {
		color:$basecolor;
	}
  }

@mixin default($breakpoints, $htmlFontSize) {
	* {
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}

	html {
		font-size: #{$htmlFontSize}px;

		$size: $htmlFontSize - 0.5;
		@for $i from length($breakpoints) through 1 {
			@media (max-width: #{nth(map-values($breakpoints), $i)}px) {
				font-size: #{$size}px;
			}
			$size: $size - 2;
		}
	}
}

@mixin grid($breakpoints) {
    .grid {
        display: block;
		width: 100%;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;

		@each $name, $width in $breakpoints {
			@media (min-width: #{$width}px) {
				&__size,
				&__#{$name} {
					width: #{$width}px;
				}
			}
		}
    }

	.box {
		display: block;
		height: 100%;
		font-size: 0;
		text-align: left;
		vertical-align: top;

		&__left {
			text-align: left;
		}

		&__right {
			text-align: right;
		}

		&__center {
			text-align: center;
		}

		&__justify {
			text-align: justify;
			text-justify: newspaper;

			&::after {
				content: "";
				width: 100%;
				height: 0;
				display: inline-block;
				font-size: medium;
			}
		}

		&__top {
			&::before {
				content: "";
				height: 100%;
				width: 0;
				vertical-align: top;
				display: inline-block;
			}

			> .cell {
				vertical-align: top;
			}
		}

		&__middle {
			&::before {
				content: "";
				height: 100%;
				width: 0;
				vertical-align: middle;
				display: inline-block;
			}

			> .cell {
				vertical-align: middle;
			}
		}

		&__bottom {
			&::before {
				content: "";
				height: 100%;
				width: 0;
				vertical-align: bottom;
				display: inline-block;
			}

			> .cell {
				vertical-align: bottom;
			}
		}
	}

	.cell {
		display: inline-block;
		max-width: 100%;
		font-size: medium;
		text-align: left;
		vertical-align: top;

		&__left {
			text-align: left;
		}

		&__right {
			text-align: right;
		}

		&__center {
			text-align: center;
		}

		&__justify {
			text-align: justify;
			text-justify: newspaper;
		}

		&__top {
			vertical-align: top;
		}

		&__middle {
			vertical-align: middle;
		}

		&__bottom {
			vertical-align: bottom;
		}
	}

}

@mixin grid-column($columns, $breakpoints) {
	.grid__col#{$columns} {
		> .box > .cell__none,
		> .cell__none {
			display: none;
		}

		> .box > .cell__auto,
		> .cell__auto {
			display: inline-block;
			width: auto;
		}

		> .box > .cell__full,
		> .cell__full {
			display: inline-block;
			width: 100%;
		}

		@for $i from 1 through $columns {
			> .box > .cell__col#{$i},
			> .cell__col#{$i} {
				display: inline-block;
				width: ($i * 100% / $columns);
			}
		}

		@each $name, $width in $breakpoints {
			@media (max-width: #{$width}px) {
				> .box > .cell__#{$name}#{0},
				> .cell__#{$name}#{0} {
					display: none;
				}

				> .box > .cell__#{$name},
				> .cell__#{$name} {
					display: inline-block;
					width: auto;
				}

				@for $i from 1 through $columns {
					> .box > .cell__#{$name}#{$i},
					> .cell__#{$name}#{$i} {
						display: inline-block;
						width: ($i * 100% / $columns);
					}
				}
			}
		}
	}
}

@mixin grid-indent($indent, $htmlFontSize) {
	.grid {
		&__gv#{$indent} {
			> .box {
				margin-left: #{- $indent / $htmlFontSize}rem;
				margin-right: #{- $indent / $htmlFontSize}rem;
				margin-bottom: #{- 2 * $indent / $htmlFontSize}rem;
			}
			> .box > .cell,
			> .cell {
				padding-left: #{$indent / $htmlFontSize}rem;
				padding-right: #{$indent / $htmlFontSize}rem;
				padding-bottom: #{2 * $indent / $htmlFontSize}rem;
			}
		}

		&__g#{$indent} {
			> .box {
				margin-left: #{- $indent / $htmlFontSize}rem;
				margin-right: #{- $indent / $htmlFontSize}rem;
			}
			> .box > .cell,
			> .cell {
				padding-left: #{$indent / $htmlFontSize}rem;
				padding-right: #{$indent / $htmlFontSize}rem;
			}
		}

		&__v#{$indent} {
			> .box {
				margin-bottom: #{- 2 * $indent / $htmlFontSize}rem;
			}
			> .box > .cell,
			> .cell {
				padding-bottom: #{2 * $indent / $htmlFontSize}rem;
			}

		}
		&__gvtb#{$indent} {
			> .box {
				margin: #{- $indent / $htmlFontSize}rem;
			}
			> .box > .cell,
			> .cell {
				padding: #{$indent / $htmlFontSize}rem;
			}
		}
	}
}

@include default($breakpoints, $htmlFontSize);
@include grid($breakpoints);
@each $column in $columns {
	@include grid-column($column, $breakpoints);
}
@each $indent in $indents {
	@include grid-indent($indent, $htmlFontSize);
}


.bg-head{
	background-color: white;
	background-image:  url(require( "IMG1.png" ))  no-repeate;
}
