include ./compoIn.pug

doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="initial-scale=1.0, width=device-width")
	link(rel="stylesheet" type="text/css" href="bundle.css")
	title Webpack app
	body
		h1 test pug 5
		+header
			+logo
			+phone('+7(3822)90-45-96')
			+menu
			+btn('Заказать сертификат')
			+search
		+content('Цены на сертификаты электронной подписи')
			+bread-crumbs
			+form('order')(method="post" action="input1.php")
				//left otinons
				div
					label.form__label Продукт
						+form__select('Выберите услугу из списка или просто напишите для чего вам нужна подпись','pug 1', 'pug 2')(name="product")
					label.form__label Имя
						+form__input()(type="text" name="name" placeholder="Пантолемей Христорождественский")
					label.form__label Телефон
						+form__input()(type="text" name="phone" placeholder="+7-923-567-8897")
					label.form__label Электронная почта
						+form__input()(type="text" name="email" placeholder="example@mail.com")
					label.form__label Наименование организации
						+form__input()(type="text" name="organisation" placeholder="УЦ «Автограф»")
					label.form__label Комментарии к заявке
						+form__input()(type="text" name="comment" placeholder="Если есть что-то, что вы хотите дополнить или узнать, смело пишите")
					p Дополнительные опции
					+form__checkbox()(name="checkbox1" )
						| Защищённый носитель
					+form__checkbox()(name="checkbox2" )
						| Лицензия на право использования
						+link-info('На данный момент в связи с изменениями в законодательстве для осуществления официальных запросов в государственные службы при помощи онлайн-служб требуется получить ЭЦП для портала Росреестра. ') СКЗИ «КриптоПро CSP»
						| бессрочная'
					+form__checkbox()(name="checkbox3" )
						| Лицензия на право использования
						+link-info('some text') СКЗИ «КриптоПро CSP»
						|на 1 год
						|+900 ₽ к стоимости
					+form__checkbox()(name="checkbox4" )
						|Лицензия на право использования
						+link-info('some text') «КриптоАРМ Стандарт версия 5»
						| бессрочная
					+form__checkbox()(name="checkbox5" )
						| Лицензия на право использования
						+link-info('some text') «КриптоПРО Office Signature версия 2.0»
						| бессрочная
					+form__checkbox()(name="checkbox6" )
						| Дистрибутив
						+link-info('some text') СКЗИ «КриптоПро CSP»
						| на CD Формуляр
					+form__checkbox()(name="checkbox7")
						| Консультация по настройке рабочего места для работы с электронной подписью
					+form__checkbox()(name="checkbox8" )
						| Установка
						+link-info('some text') СКЗИ
						|, настройка рабочего места для работы с электронной подписью
					+form__checkbox()(name="checkbox9" )
						| Установка
						+link-info('some text') СКЗИ
						|, настройка рабочего места для работы с электронной подписью и сопровождение для регистрации в
						+link-info('some text') ЕСИА
					+form__checkbox()(name="checkbox10" )
						| Установка
						+link-info('some text') СКЗИ
						|, настройка рабочего места для работы с электронной подписью и сопровождение для регистрации в
						+link-info('some text') ЕСИА
						| и
						+link-info('some text') ГИС ЖКХ
					+form__checkbox()(name="checkbox11" )
						| Настройка рабочего места для работы в
						+link-info('some text') ЕГАИС ФСРАР
					+form__checkbox()(name="checkbox12" )
						| Настройка рабочего места и регистрация на 1 из 5
						+link-info('some text') федеральных ЭТП
					+form__checkbox()(name="checkbox13" )
						| Выезд специалиста к клиенту в пределах Томска
				//right bar
				+right-bar
					+price 2500 ₽
					+form__btn(class="btn") Отправить заявку
					p
						| Ваши контактные данные необходимы для уточнения деталей заказа. Мы не используем эти данные для рекламных рассылок и не передаем третьим лицам.
					p
						| Копии всех необходимых документов вы можете передать нам по электронной почте, для того чтобы получить сертификат, вам даже не нужно выходить из дома.
					p
						| Сертификат действует 1 год, после этого можно будеть его продлить в нашем удостоверяющем центре





		+footer
			div
				+logo
				+info
					p г. Томск, пер. Совпартшкольный, 3
					p Время работы 8:30–17:00
					p
						a(href="mailto:uc@uguc.ru") uc@uguc.ru
				+btn('Обратная связь')
			div
				+menu
				+certificates('Наши сертификаты')
			div
				+phone ('+7(3822)90-45-96')
				+parking('3','5')
			//(C)
