.content {
	&__head{
		text-align: center;
		color:white;
		font-size: 38px;
		text-align: center;
	}
	&__body{
		//padding: 0px;
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
