.content {
	&__head{
		text-align: center;
		color:white;
		font-size: 38px;
		font-family: 'Conv_SFUIText-Light';
		text-align: center;
	}
	&__body{
		//padding: 0px;
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		box-shadow: 0 0 40px rgba(#002f43,0.15);
	}
}
