mixin bread-crumbs
	ul.bread-crumbs&attributes(attributes)
		li.bread-crumbs__item
			a.bread-crumbs__link(href="#") Главная
		|&bull;
		li.bread-crumbs__item
			a.bread-crumbs__link(href="#") Услуги и цены
