@import '../../index/index';

.link-info {
	position: relative;
	&:hover &__info{
		display: block;
	}
	&__info{
		text-align: center;
		display: none;
		z-index: 1;
		width:390px;
		color:white;
		position:absolute;
				//top: -100%;
		right:50%;
		transform: translate(50%, -100%);
		& p{
			margin:0;
			padding:0;
		}
	}
	&__cloud{
		text-align: left;
		background-color: #333347;
		padding: 14px 21px;
		border-radius: 4px;
	}
	&__arrow{
		display: inline-block;
		//margin-top: -20px;
		//position:absolute;
		background-color: #333347;
		height: 10px;
		width:10px;
		right:50%;
		//$transform: translate(0, -50%);
		transform: rotate(45deg);
		margin-top: -7px;
		margin-bottom: 16px;
	}
}
