mixin menu
	ul.menu&attributes(attributes)
		li.menu__item
			a.menu__link(href="#") Услуги и цены
		li.menu__item
			a.menu__link(href="#") Отчётность
		li.menu__item
			a.menu__link(href="#") Тендерный поиск
		li.menu__item
			a.menu__link(href="#") Поддержка
		li.menu__item
			a.menu__link(href="#") Контакты

