mixin parking(a, b)
	div.parking
		div.parking__logo
		div.parking__title Бесплатная парковка
		p.parking__info У нас есть отдельная парковка на #{a} - #{b} машин, на которую допускаются только наши клиенты.
