.bg-head {
	//background-color: red;
	//background-image: url('IMG1.png');
	background-image: url('IMG1.png');
	background-repeat: no-repeat;
	//background-position: top;
	background-size: cover;
	//background-
	width: 100%;
	//width:100px;
	height: 450px;
	position: absolute;
	top: 0;
	//position: fixed;
	//top:10px;
	//left:10px;
	z-index: -1;
	//overflow: hidden;
}
